# Should just omit the "Icon:". See #1
[Desktop Entry]
Type=Application
Name=Foo
Exec=bar
# Gibberish icon name :)
# tr -dc 'A-Za-z0-9' </dev/urandom | head -c 13
Icon=Av4tcrP3Ygx4N
